.main{

	text-align: center;

	.main-list-items{

		ul{
		    list-style-type: none;
    		padding: 0;
		}

		li.item{
		    width: 50%;
    		margin: 0 auto;
	    	border-bottom: 2px solid;
    		margin-bottom: 5px;
		}
	}
}